:root {
    --bg-page: rgb(236, 213, 226);
    --bg-cartao: white;
    --bg-button: rgb(146, 102, 131);
    --bg-input-erro: rgb(216, 75, 71);
    --text-button: rgb(255, 255, 255);
    --font-family-conttent: 'Montserrat', 'sans-serif';
}

html {
    font-family:  var(--font-family-conttent);
    background-color: var(--bg-page);
}
